*{
	margin:0;
	padding:0;
}
.container{
	width:100%;
}
.clear{
	clear:both;
}
.header{
	width: 100%;
	background-color: red;
}
.header-left{
	float: left;
	width: 18%;
	border: 1px solid lightblue;
}
.menu-bar{
	float:left;
	padding-top: 19px;
	padding-left: 25px;
	padding-right:17px;
	padding-bottom:20px;
	border: 1px solid red;
}
.logo{
	margin-left:55px;
	margin-top:0px;
	padding-top:12px;
	padding-left: 17px;
	border: 1px solid green;
}
