*{
	margin:0;
	pading:0;
	font-family: arial;
	font-size: 13px;
}
.clear{
	clear: both;
}
.headerLine{
	height:4px;
	background-color: rgb(244, 115, 7);
	border: none;
}
.topHeader{
	background-color:#f7f8f8;
	box-shadow:  0 0 10px 0 rgb(0,0,0,0.2);
}
.logo{
	width: 14%;
	float:left;
	/*border: 1px solid black;*/
}
.logo img{
	width: 160px;
	margin: 2px 0 0 10px;
	padding:2px;
}
.about, .products, .team{
	width: 6%;
	float: left;
	/*border: 1px solid black;*/
	padding: 16px 3px;
	opacity: 0.7;
}
.search{
	width: 53%;
	float:left;
	/*border: 1px solid black;*/
}
.searchBar{
	width:99%;
	margin: 5px;
	padding: 10px 0;
	text-indent:5%;
	border: 1px solid #babfc4;
	background-image:url("../assets/icons/search.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 0.2%;
}
.searchBar:focus
{
	outline: none;
	border: 1px solid #6ebcf7;
	box-shadow: 0 0 4px #0074cc;
}
.headerRight{
	width: 12.5%;
	float:right;
	/*border: 1px solid black;*/
}
.login{
	width:40%;
	float:left;
	padding:10px 0;
	border: 1px solid  rgb(122, 167, 199);
	margin: 5px 2px;
	color: rgb(83, 142, 184);
	border-radius: 5%;
	background-color:rgb(225, 236, 244);
}
.signup{
	width:45%;
	float:left;
	border: 1px solid rgb(122, 167, 199);
	padding: 10px 0;
	margin: 5px 1px;
	border-radius: 5%;
	background-color:rgb(10, 149, 255);
	color: rgb(255,255,255);
}
.signup span, .login span{
	margin: auto 15px;
}
.footer{
	background-color:black;
	color: white;
}
.footer a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
}
.footLogo{
	width:5%;
	float: left;
	border:1px solid red;
}
.footLogo img{
	width:60px;
}
.stackOverflow{
	width:17%;
	float: left;
	border:1px solid blue;
}
.Products{
	width:13%;
	float: left;
	border:1px solid blue;
}
.Company{
	width:15%;
	float: left;
	border:1px solid blue;
}
.stackExchange{
	width:17%;
	float: left;
	border:1px solid blue;
}
.footerLinkHead{
	margin:20px 10px;
	opacity:0.8;
}
.footerLinks{
	margin: 12px 10px;
	opacity: 0.7;
}
.footerLinks a{
	font-weight: normal;
}
.social{
	width:25%;
	float: left;
	border:1px solid red;
	margin: 20px 30px;
}
nav a{
	font-size: 11px;
	opacity: 0.7;
}
.social span{
	margin-top: 20px;
}
.footerLast{
	margin-top:230px;
	opacity: 0.7;
}